.carousel-inner .carousel-item img {
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0.2);
  filter: contrast(10px);
}
.carousel-inner .carousel-item img::before,
.carousel-inner .carousel-item img::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: rgba(0, 0, 0, 2);
  filter: blur(100px);
}

.carousel-inner .carousel-item img::before {
  top: 0;
  left: 0;
}

.carousel-inner .carousel-item img::after {
  bottom: 0;
  right: 0;
}
.carousel-caption h2 {
  color: #feb13d !important;
  font-weight: bolder;
  font-size: 30px;
}

.carousel-caption p {
  font-weight: bolder;
  color: #ffffff;
}
