<div class="container px-5">
  <h2 class="big_title px-0 mx-0">FAVORITE LIST</h2>
  <div class="row">
    <div *ngFor="let favorite of favoriteResult" class="col-xl-6 mb-4">
      <div class="card text-dark yellow_hover rounded-2">
        <div
          class="card-body"
          [style.background-image]="
            'url(https://image.tmdb.org/t/p/original/' +
            (favorite.movie.backdrop_path
              ? favorite.movie.backdrop_path
              : favorite.movie.poster) +
            ')'
          "
        >
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <img
                src="https://image.tmdb.org/t/p/original/{{
                  favorite.movie.backdrop_path
                    ? favorite.movie.backdrop_path
                    : favorite.movie.poster
                }}"
                alt=""
                class="img-fluid rounded-2"
                width="200px"
              />
            </div>
            <div class="ms-1">
              <p class="fw-bolder yellow_text mb-1">
                {{ favorite.movie.name || favorite.movie.original_title }}
              </p>

              <p class="fw-bolder yellow_text mb-1">{{ favorite.id }}</p>
            </div>
            <span
              class="badge rounded-pill badge-primary"
              style="background-color: #feb13d"
              >#Favorite</span
            >
          </div>
        </div>
        <div
          class="card-footer border-0 p-2 d-flex justify-content-around text-dark favorite-footer"
        >
          <a
            (click)="removeFavorite(favorite.id)"
            class="btn btn-link m-0 text-reset text-decoration-none text-capitalize w-100"
            role="button"
            data-ripple-color="primary"
            >Remove<i
              class="fa-solid fa-trash fa-shake ms-2 yellow_text remove-icon"
            ></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
