// @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Ubuntu:wght@400;500;700&display=swap");

// @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
@import "./variables.scss";
* {
  // font-family: "Roboto", sans-serif;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: $main-dark;
  color: white !important;
}
a {
  text-decoration: none;
}

.filmy-logo {
  object-fit: cover;
  max-width: 80px;
  min-height: 100%;
}
.bg-dark {
  background-color: $main-dark !important;
}

.custom-text-nav {
  font-size: 20px;
}
.nav-link {
  padding-inline: 16px !important;
}

.navbar-dark .navbar-nav .active > .nav-link {
  color: $main-yellow;
  font-weight: bold;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
  opacity: 0.8;
}
.title-text {
  font-weight: bold;
  font-size: 24px;
}

.basic_hover:hover {
  transition: 0.35s all cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 0.8;
}

.hidden-on-mobile {
  display: none;
}
.bg-main {
  background-color: $main-yellow;
}

.yellow_text {
  color: $main-yellow;
}
.cast_name {
  color: $main-yellow;
  font-weight: bold;
  font-size: 32px;
}
.yellow_hover:hover {
  box-shadow: 9px 1px 27px -6px $main-yellow;
  -webkit-box-shadow: 9px 1px 27px -6px $main-yellow;
  -moz-box-shadow: 9px 1px 27px -6px $main-yellow;

  cursor: pointer;
}
.ngx-pagination .current {
  background-color: $main-yellow !important;
  border-radius: 12px;
}
a:not([href]):not([class]):hover {
  color: $main-yellow;
  text-decoration: none;
}

.pagination {
  &-next,
  &-previous {
    color: $main-yellow;
    font-weight: bold;
  }
}
.ngx-pagination a,
.ngx-pagination button {
  border-radius: 12px !important;
}
